<div class="box has-background-light">
  <form action="/dashboard/addstation" method="POST">
    <div class="columns">
       <div class="field column">
        <label class="label">Add New Station</label>
        <div class="control">
          <input class="input" placeholder="Enter station name" type="text" name="stationName" required>
        </div>
      </div>
      <div class="field column">
                <label class="label">Latitude</label>
                <div class="control">
                    <input class="input" placeholder="00.0" type="number" step=".00000001" min="-90" max="90"
                           name="latitude" required>
                </div>
            </div>
            <div class="field column">
                <label class="label">Longitude</label>
                <div class="control">
                    <input class="input" placeholder="00.0" type="number" step=".00000001" min="-180" max="180"
                           name="longitude" required>
                </div>
            </div>
      <div class="field column m-auto">
        <div class="control">
          <button class="button is-primary is-large">Create New Station</button>
        </div>
      </div>
    </div>
  </form>
</div>