<div class="">
  <div class="control">
      <form class="m-0" action="/station/{{station._id}}/autoreading" method="post">
      <button class="button is-fullwidth is-info has-text-weight-bold">Auto Generate Reading</button>
    </form>
  </div>
</div>