<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Station Name</label>
    <input class="input" type="text" placeholder="Enter station name" name="stationName">
  </div>
  <button class="button is-link">Add Station</button>
</form>