<form class="box" action="/station/{{station._id}}/addreading" method="POST">
  <label>Enter Reading Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
                <div class="control">
                    <div class="select">
                        <select placeholder="00" type="text" name="code">
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="600">600</option>
                            <option value="700">700</option>
                            <option value="800">800</option>
                        </select>
                    </div>
                </div>
      </div>
      <div class="field">
        <label class="label">Temperature</label>
                <div class="control">
                    <input class="input" placeholder="00.0 C" type="number" step=".01" name="temperature">
                </div>
      </div>
      <div class="field">
        <label class="label">Wind Speed</label>
                <div class="control">
                    <input class="input" placeholder="00.00 kMh" type="number" step=".01" min="1" max="117"
                           name="windSpeed">
                </div>
      </div>
      <div class="field">
        <label class="label">Pressure</label>
                <div class="control">
                    <input class="input" placeholder="00.00hPa" type="number" name="pressure">
                </div>
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Reading</button>
</form>