<!--Animated graphic start-->
<div class="column is-half">
    <!--Animated graphic top row start-->
    <div class="columns is-mobile">
        <div class="column is-one-fifths">
            <img src="../images/svg/barometer.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/celsius.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/clear-day.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/cloudy.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/drizzle.svg">
        </div>
    </div>
    <!--Animated graphic top row end-->
    <!--Animated graphic middle row start-->
    <div class="columns is-mobile">
        <div class="column is-one-fifths">
            <img src="../images/svg/dust.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/extreme-fog.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/extreme-hail.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/extreme-rain.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/fog.svg">
        </div>
    </div>
    <!--Animated graphic middle row end-->
    <!--Animated graphic bottom row start-->
    <div class="columns is-mobile">
        <div class="column is-one-fifths">
            <img src="../images/svg/moon-full.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/moonrise.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/wind.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/uv-index.svg">
        </div>
        <div class="column is-one-fifths">
            <img src="../images/svg/wind-snow.svg">
        </div>
    </div>
    <!--Animated graphic bottom row end-->
</div>
<!--Animated graphic end-->