<div class="content box p-0 is-clipped">
  <div id="map" class="mapBorderColor" style="height: 450px;"></div>
</div>

<script>
  // Initializes map
  const map = L.map('map').setView([51.505, -0.09], 13); 

    // Sets map view to average lat and lng
  map.setView([53.526948, -7.586303], 6);
  map.doubleClickZoom.disable();

  // Disables double click zoom
  map.doubleClickZoom.disable();


  // Sets map data source and associates with map
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
}).addTo(map);

  // ev is an event object (MouseEvent in this case)
  map.on('dblclick', function(ev) {
    let latMaDbClick = ev.latlng.lat.toFixed(8);
    let lngMaDbClick = ev.latlng.lng.toFixed(8);
    document.getElementById('latitude').value = latMaDbClick;
    document.getElementById('longitude').value = lngMaDbClick;
});
</script>