<!--Latest readings start-->
<div class="columns reading">
    <!--Station location details start-->
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Location
            </div>
            <div class="columns is-mobile">
                <div class="column reading has-text-centered is-half-mobile has-text-right">
                    Latitude: GPS here<br/>
                    Longitude: GPS here
                </div>
                <div class="column is-half-mobile is-two-fifths">
                    <img src="../images/svg/compass.svg">
                </div>
            </div>
        </div>
    </div>
    <!--Station location details end-->
    <!--Station Weather code start-->
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Weather Code
            </div>
            <!--Readings Weather code start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    Weather Code here
                </div>
                <div class="column is-half-mobile">
                    <img src="../images/svg/sun-hot.svg">
                </div>
            </div>
            <!--Readings Weather code start-->
        </div>
    </div>
    <!--Station Weather code end-->
    <!--Station Temperature start-->
    <div class="column is-flex">
        <div class="card dark-green has-text-right pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Temperature
            </div>
            <!--Readings Temperature start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    Temp here C
                    <br/>
                    Temp here F
                </div>
                <div class="column is-half-mobile">
                    <img src="../images/svg/thermometer.svg">
                </div>
            </div>
            <!--Readings Temperature end-->
        </div>
    </div>
    <!--Station Temperature end-->
    <!--Station Windspeed start-->
    <div class="column is-flex">
        <div class="card dark-green has-text-right pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Windspeed
            </div>
            <!--Readings Windspeed start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    Windspeed here bft <br/>
                    <span class="suppliment-text">Windspeed Text here</span>
                </div>
                <div class="column is-half-mobile">
                    <img src="../images/svg/wind-beaufort-1.svg">
                </div>
            </div>
            <!--Readings Windspeed end-->
        </div>
    </div>
    <!--Station Windspeed end-->
    <!--Station Pressure start-->
    <div class="column is-flex">
        <div class="card dark-green has-text-right pb-3">
            <div class="card-header-title is-size-5-desktop is-size-6-touch">
                Pressure
            </div>
            <!--Readings Pressure start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    Pressure here hpa
                </div>
                <div class="column is-half-mobile">
                    <img src="../images/svg/barometer.svg">
                </div>
            </div>
            <!--Readings Pressure end-->
        </div>
    </div>
    <!--Station Pressure end-->
</div>
<!--Latest readings end-->