{{#each stations}}
<div class="content box">
  <h1 class="title">
      {{stationName}}
  </h1>
  {{> latest-readings}}
  <a href="/station/{{_id}}" class="icon has-text-primary"><i class="fas fa-folder"></i></a>
</div>
{{/each}}