{{#each stations}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    <a href="/station/{{_id}}">
      {{stationName}}
    </a>
  </h2>
  {{> latest-readings}}
  <a href="/station/{{_id}}" class="icon has-text-primary"><i class="fas fa-folder"></i></a>
</div>
{{/each}}