<!DOCTYPE html>
<html>
<head>
    <title>Not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
</head>
<body>
<section class="page_404">
    <div class="container has-text-centered">
        <div class="columns is-mobile">
            <div class="column is-full is-offset-one-half">
                <div class="four_zero_four_bg">
                    <h1 class="title is-1 pt-3">404 - Page Not Found</h1>
                </div>
                <div class="contant_box_404">
                    <h3 class="title is-12">
                        Something went wrong... We sent Darren from IT to fix it.
                    </h3>
                    <h4 class="title is-12">But you might be waiting a while, so maybe hit the home button below</h4>
                    <br/>
                    <a href="/" class="button is-primary">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>