{{> menu active="about"}}

<!--About content start-->
<div class="content box">
    <h2 class="title">
        About the WeatherTop system
    </h2>
    <div class="columns">
        <div class="column is-one-half">
            <p>
                WeatherTop would love amateur weather observers to upload data from their AWSs to http://localhost:9000/
                By sharing your data you are helping to improve the Irish weather observing network and helping
                WeatherTop forecasters to get a better picture of weather around Ireland. Your data will also be shared
                with anybody who looks at the WeatherTop website!
            </p>
            <p>
                Unlimited Weather stations can be uploaded with there own weather data for each station, so climate and
                weather change can be tracked over time to give a better understanding of our ever-changing environment
            </p>
            <p>
                Many people have a great interest in weather and have their own automatic weather stations to see what
                the temperature is or how much rain falls in their garden. In the past 20 years, automatic weather
                stations have become more affordable and user friendly. Basic automatic weather stations can be bought
                which measure outside air temperature, humidity and barometric pressure and display it on an electronic
                device indoors. Many amateur weather observers have sophisticated automatic weather stations by
                companies like Davis, Oregon Scientific, La Crosse and others.
            </p>
        </div>
        <div class="column is-one-half">
            <img src="../images/station-set-up.png">
        </div>
    </div>
</div>
<!--About content end-->