{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  {{#if displayReading}}
  {{> latest-readings}}
  {{/if}}
  {{> list-readings}}
  {{> add-reading}}
</section>
