{{> menu}}

<div class="content box">
  <h1 class="title">
    {{title}}
  </h1>
  {{> single-station-map}}
  {{> add-reading}}
  {{> latest-readings}}
  {{> list-readings}}
  {{> list-trends}}       
</div>
