{{> welcome-menu active="welcome"}}

<!--Start content start-->
<div class="content box">
    <h2 class="title">
        Welcome to WeatherTop
    </h2>
    <div class="columns">
        <div class="column is-half">
            <p>
                The WeatherTop website is a global platform where anyone can automatically upload data from their own
                automatic weather station to there registered Weather stations.
            </p>
            <p>
                There will be an official launch later this year but you can already access the site at
                http://localhost:9000/ If you own a weather station you are very welcome to connect it to the site. We’d
                love to hear how you get on and would value any feedback!
            </p>
            <p>
                WeatherTop is a great tool which allows weather observations to to be displayed in real-time. The
                observations are from different sources, the quality varies from source to source and the data are not
                reviewed or corrected. Data may be missing from time to time and occasional spikes may occur.
            </p>
            <p>
                WeatherTop has great potential for use as an outreach and education platform. It is not the official
                website for
                weather data from National weather stations. Quality controlled data from Met Éireann’s official weather
                stations are available at https://www.met.ie/climate/available-data.
            </p>
        </div>
        <div class="column is-half">
            <iframe src="https://embed.windy.com/embed2.html?lat=53.726&lon=-6.885&detailLat=53.726&detailLon=-6.885&width=650&height=450&zoom=5&level=surface&overlay=rain&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
                    frameborder="0"></iframe>
        </div>
    </div>
</div>
<!--Start content end-->